body {
    background-color: mediumspringgreen;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.recipeingredients li {
    font-style: italic;
}

.odinrecipe {
    text-align: center;
}

.recipelist {
    text-align: center;
}

.recipeingredients {
    
}

.recipesteps {
    text-align: center;
}