body {
    background-color: mediumspringgreen;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

h1 {
    text-decoration: underline;
}

.recipeingredients li {
    font-style: italic;
}

.odinrecipe {
    text-align: center;
}

.recipelist {
    text-align: center;
}

.recipesteps {

}